@page "/CoursePages/{id:int}"
@model Educational_platform.Pages.CoursePages.Course
@{
    if (Model.CourseOnPage != null)
        ViewData["Title"] = Model.CourseOnPage.Name;
    else
        ViewData["Title"] = "Course not found";
}

<h1>@ViewData["Title"]</h1>

<h2>Course Details</h2>

@if (Model.CourseOnPage != null)
{
    <div>
        <h3>Welcome to the course "@Model.CourseOnPage.Name"</h3>
        <p>Course description: @Model.CourseOnPage.Description</p>
    </div>

    @foreach (var coursePage in Model.CoursePages)
    {
        <a asp-page="/CoursePages/CoursePage" asp-route-courseId="@coursePage.IdCourse" asp-route-pageId="@coursePage.IdPage">
            @coursePage.PageName
        </a><br>
    }
}
else
{
    <p>Course not found.</p>
}