@page "/course/{id:int}"
@model Educational_platform.Pages.course.Course
@{
    if (Model.CourseOnPage != null)
        ViewData["Title"] = Model.CourseOnPage.Name;
    else
        ViewData["Title"] = "Course not found";
}

<h1>@ViewData["Title"]</h1>

<h2>Course Details</h2>

@if (Model.CourseOnPage != null)
{
    <div>
        <h3>Welcome to the course "@Model.CourseOnPage.Name"</h3>
        <p>Course description: @Model.CourseOnPage.Description</p>
    </div>

    <ol>
    @foreach (var coursePage in Model.CoursePages)
    {
        <li><a asp-page="/course/CoursePage" asp-route-courseId="@coursePage.IdCourse" asp-route-pageId="@coursePage.IdPage">
            @coursePage.PageName
        </a></li>
    }
    </ol>
}
else
{
    <p>Course not found.</p>
}

@if (User.Identity.IsAuthenticated) {
    if (User.IsInRole("admin")) {
        <br><br><br><br><br><br><br>
        <a asp-page="AddCoursePage">Add Page</a>
    }
}